*{
    font-family: roboto;
    margin: 0;
    padding: 0;
}
h1{margin-top: 5vh;
    text-align: center;
    text-decoration: underline;

}
img{
    margin-top: 5vh;
    height: 60vh;
    width: 60vw;
    margin-left: 40vh;
    border-radius: 20px;
}

p{
    padding: 0px 300px;
    font-size: 20px;
    text-align:justify;
}
.container{
    text-align: right;
}
#white{
    background-color: white;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: right;
    border-radius: 50%;
}
#orange{
    background-color: rgb(199, 131, 42);
    border: 1px solid black;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: right;
    border-radius: 50%;

}
#skyblue{
    background-color: rgb(62, 167, 216);
    border: 1px solid black;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: right;
    border-radius: 50%;


}
#black{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;

}
            